## Question 1

- `Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.`

In [2]:
# Please write The solution Here for above question 1:
a,b = 120,20
c = 0
if a*b>1000:
  c = a+b
  print(c)

140

## question 2

- `Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number`

Expected output:
-----------------
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [ ]:
# Please write The solution Here for above question 2:

## question 3

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

- Example :
     `("pynative", 4) so output must be tive.`
     
     `Note: n must be less than the length of the string.`

In [4]:
# Please write The solution Here for above question 3:
a,b = 'pynative',4
result = new_string(a,b)
print(result)

tive

## question 4

### `Given a list of numbers, return True if first and last number of a list is same`

    Expected Output:
    -------------------------------------

    Given list is
    a =  [10, 20, 30, 40, 10]
    b = [10 , 20 , 30 , 40, 10 ]
    result is True

    Given list is  
    a = [10, 20, 30, 40, 50]
    b = [11 , 21 , 31 , 41 , 51 ]
    result is False

In [6]:
# Please write The solution Here for above question 4:
def same_values(a,b):
    if a[0] == a[-1] and b[0] == b[-1]:
        return True
    else:
        return False
a = [10,20,30,40,10]
b = [10,20,30,40,50,10]
Result = same_values(a,b)
print(f'Given list is\na = {a}\nb = {b}\nresult is {Result}')

print('---------')

a = [1,2,3,4,5]
b = [6,7,8,9,10]
Result = same_values(a,b)
print(f'Given list is\na = {a}\nb = {b}\nresult is {Result}')

Given list is
a = [10, 20, 30, 40, 10]
b = [10, 20, 30, 40, 50, 10]
result is True
---------
Given list is
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
result is False

## question 5

### Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]


    Expected output:
    -----------------------------
    10 400
    20 300
    30 200
    40 100

In [ ]:
# Please write The solution Here for above question 5:

## question 6

### Remove empty strings from the list of strings


    list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

    Expected output:
    ----------------------

    ["Mike", "Emma", "Kelly", "Brad"]

In [7]:
# Please write The solution Here for above question 6:

def remove_emptystrings(a):
    b =[]
    for i in a:
        if i == '':pass
        else:b.append(i)
    return b

list1 = ['mike','','abhi','','sai','kohli','','rohith']
result = remove_emptystrings(list1)
print(result)

['mike', 'abhi', 'sai', 'kohli', 'rohith']